html {
	height:100%;
	width:100%;
	background: url(office-background-large.jpg) no-repeat
		/*link for the background image https://pixabay.com/en/office-tax-business-finance-620822/. Thanks pixabay
		https://pixabay.com/static/uploads/photo/2015/02/02/11/09/office-620822_960_720.jpg */
		center center fixed;
	/*-webkit-filter: grayscale(100%);*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: blur(20px);
}
body {
	width:100%;
	height:100%;
	background-color:transparent;
	color: whitesmoke;
}

.h1 .h2 .h3, h1, h2, h3 {
	font-weight:400;
}

.navbar .container {
	text-align:center;
}
.navbar-default {
	background-color:transparent;
	border-color:transparent;
}

.navbar-brand {
	color: whitesmoke !important;
}

.navbar-default .navbar-nav>li>a {
	color: whitesmoke;
}

.navbar-default .navbar-nav>li>a hover{
	color: red;
}

.jumbotron {
	position: relative;
	background-color:transparent;
	padding-top: 56px;
	height:70%;
	text-align:center;
	display: flex; /* add */
	justify-content: center; /* add to align horizontal */
	align-items: center; /* add to align vertical */
}

.jumbotron .container {
	font-size: xx-large;
	text-shadow: 1px 1px black;
	color: whitesmoke;
	max-width: 80%;
	border-radius: 10px;
}

.next-step {
	background-color:#d65050;
	border: 1px solid #d65050;
	font-family: "Raleway", sans-serif;
	font-size:13px;
	line-height: 24px;
	font-weight: 700;
	padding: 12px 35px;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s;
}

.next-step:hover, next-step:active{
	background-color:transparent;
	color:#d65050;
	border: 1px solid #d65050;
}

.previous-step {
	background-color:transparent;
	font-family: "Raleway", sans-serif;
	font-size:12px;
	line-height: 24px;
	font-weight: 700;
	padding: 12px 35px;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s;
}

.previous-step:hover, next-step:active{
	background-color:transparent;
	color:#d65050;
	border: 1px solid #d65050;
}

#skbutton {
	background-color:#d65050;
	color: #fff;
}

.maintitle {
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
	margin-left: 10px;
}

.mybreadcrump {
	background-color:transparent;
}

.mybreadcrump li a {
	color: #fff !important;
	background: transparent;
}

.mybreadcrump li a:hover {
	color: #d65050 !important;
}

.mybreadcrump .active {
	color: #d65050 !important;
}

.mypagination {
	background-color:transparent;
	margin-top:30px;
}

.mypagination li a {
	color: #fff !important;
	background: transparent;
	border:none;
	border-right:1px solid;
}

.mypagination li a:hover {
	color: #d65050 !important;
	background-color: #fff;
}

.mypagination .active {
	color: #d65050 !important;
}


.maintitle::after{
	background-color:#d65050;
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 40%;
	height: 1px;
	margin-left: -20%;
}

.subtitle {
	margin-bottom: 30px;
}

.row {
	margin-top:10px;

}

.company-type {
	min-height: 200px;
	background-color: rgba(0,0,0,0.5);
	display:flex;
	justify-content:center;
}

.company-type:hover {
	background-color:rgba(0,0,0,0.2);
	text-decoration:none;
}

a:link, a:visited, a:hover, a:active{
	text-decoration:none;
}

.company-type .content {
	color: whitesmoke;
	font-size: 22px;
	display: flex;
	align-items: center;
}

form {
	color: whitesmoke;
}

input {
	color:black;
}
.step1 {
	margin: 0 0 0 30px;
	font-size:24px;
}

.dik, .dik-edras {
	border: none;
	background: none;
	outline: none;
}

.dik:hover, .dik-edras:hover {
	background-color:transparent;
	color:#d65050;
}

.go-next-step {
	text-align:center;
	margin-top:60px;
}

#location {
	color:black;
}

.subnote {
	margin-top:10px;
	margin-bottom:-30px;
	font-size:12px;
	text-align:center;
}

.subnote p {
	margin-left:30%;
	margin-right:30%;
}

#fred {
	width:70%;
	height:300px;
}

.job {
	margin:25px 0 25px 0;
}

.step-content {
	margin-top: 10px;
	background-color: rgba(0,0,0,0.3);
	font-size: 15px;
	text-align: justify;
}

.step1-content {
	margin: 10px 0 10px 0;
}

.map {
	text-align: center;
	font-size: 15px;
}

.tk {
	margin-top:25px;
}

.coming-soon {
	margin-top: -30px;
	color: #d65050;
	position: absolute;
	margin-left: 10px;
}

.choose-type {
	margin: 20px 0 50px 10px;
	font-size: 16px;
}

@media (max-width: 767px) {
	.row {
		margin-top:10px;
		content:center;
	}
	.col-md-6 {
		margin-top:10px;
	}
	.step1-content{
		margin: 30px 0 0 30px;
	}
	.step-content {
		margin-top:10px;
	}
	.company-type {
		margin-top:10px;
	}
	.subnote p {
		margin-left:10%;
		margin-right:10%;
	}
	.map {
		margin:30px 0 0 30px;
	}
}
